.box {
  background: white;
  display: flex;
  border: black solid 1px;
  margin: 4px;
  flex-flow: row wrap;
}

.select {
  background: lightgreen;
}

i {
  font-style: normal;
  background: lightblue;
}
