* {
  box-sizing: border-box;
}

body {
  height: 900px;
}

div {
  display: block;
}

button {
  width: 100px;
  height: 40px;
  color: white;
  background: gray;
  border-radius: 0px;
  border: 1px solid black;
}
